<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/general.css" />
<link rel="stylesheet" href="../css/layouts.css" />
<link rel="stylesheet" href="../css/shop.css" />
  
  <body>
    <script type="text/javascript" src="../js/globals.js"></script>
    <!-- Top Panel -->
    <header>
      <p id="balance">Gold Balance: 500</p>
    
      <a href="/">
        <button>Tasks</button>
      </a>
    </header>

    <div class="main-content">
        <h1>Welcome to the Emporium</h1>

        <div class="shop-section" id="hats">
          <div class="hat" id="hat1">
            <img src="/media/wizard1.png" alt="Hat 1" />
            <button onclick="buyItem('hat1', 10)">Buy for 10 Gold</button>
          </div>
          <div class="hat" id="hat2">
            <img src="/media/wizard2.png" alt="Hat 2" />
            <button onclick="buyItem('hat2', 20)">Buy for 20 Gold</button>
          </div>
          <div class="hat" id="hat3">
            <img src="/media/wizard3.png" alt="Hat 3" />
            <button onclick="buyItem('hat3', 30)">Buy for 30 Gold</button>
          </div>
          <div class="hat" id="hat4">
            <img src="/media/wizard4.png" alt="Hat 4" />
            <button onclick="buyItem('hat4', 40)">Buy for 40 Gold</button>
          </div>
          <div class="hat" id="hat5">
            <img src="/media/wizard5.png" alt="Hat 5" />
            <button onclick="buyItem('hat5', 50)">Buy for 50 Gold</button>
          </div>
        </div>
        
        <div class="shop-section" id="themes">
          <div class="theme" id="theme1">
            <img src="/media/theme1.png" alt="Theme 1" />
            <button onclick="buyItem('theme1', 50)">Buy for 50 Gold</button>
          </div>
          <div class="theme" id="theme2">
            <img src="/media/theme2.png" alt="Theme 2" />
            <button onclick="buyItem('theme2', 50)">Buy for 50 Gold</button>
          </div>
          <div class="theme" id="theme3">
            <img src="/media/theme3.png" alt="Theme 3" />
            <button onclick="buyItem('theme3', 50)">Buy for 50 Gold</button>
          </div>
          <div class="theme" id="theme4">
            <img src="/media/theme4.png" alt="Theme 4" />
            <button onclick="buyItem('theme4', 50)">Buy for 50 Gold</button>
          </div>
        </div>
        
        <div class="shop-section" id="quotes">
          <div class="quote" id="quote1">
            <p>Presidential Quotes</p>
            <button onclick="buyItem('quote1', 20)">Buy for 20 Gold</button>
          </div>
          <div class="quote" id="quote2">
            <p>Tech CEO Quotes</p>
            <button onclick="buyItem('quote2', 20)">Buy for 20 Gold</button>
          </div>
          <div class="quote" id="quote3">
            <p>Wall Street Quotes</p>
            <button onclick="buyItem('quote3', 20)">Buy for 20 Gold</button>
          </div>
          <div class="quote" id="quote4">
            <p>Celebrity Quotes</p>
            <button onclick="buyItem('quote4', 20)">Buy for 20 Gold</button>
          </div>
        </div>

        <div class="spacer"></div>

        <h2 onclick="setGold(500)">Statistics</h2>
        <div class="statistics">
          <p class="stat">Pomodoros Completed: 0</p>
          <p class="stat">Tasks Completed: 0</p>
          <p class="stat">Habits Completed: 0</p>
          <p class="stat">Journal Entries Written: 0</p>
          <p class="stat">Notes Written: 0</p>
          <p class="stat">Movies Liked: 0</p>
          
          <p class="stat">Longest Habit Streak: 0</p>
          <p class="stat">Weather Checked: 0</p>
          <p class="stat">Stocks Viewed: 0</p>
          <p class="stat">Settings Changed: 0</p>
          <p class="stat">Gold Earned: 0</p>
          <p class="stat">Gold Spent: 0</p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
      <h1 id="motivational-quote">Your Life in a Glance</h1>
    </footer>

    <script src="/js/shop.js"></script>
  </body>
