  <body>
    <script type="text/javascript" src="../js/globals.js"></script>
    <!-- Top Panel -->
    <header>
      <div class="dropdown">
        <button class="dropbtn"><img src="../media/wizard.png" alt="Extras" style="width: 65px; height: auto;"></button>
        <div class="dropdown-content">
          <a href="../Journal.html">Journal</a>
          <a href="../movie.html">Movies</a>
          <a href="../weather.html">Weather</a>
          <a href="../stock.html">Stocks</a>
        </div>
      </div>

      <a href="/">
        <button>Tasks</button>
      </a>
      
      <div class="dropdown">
        <button class="dropbtn"><img src="../media/profile.png" alt="Profile" style="width: 65px; height: auto;"></button>
        <div class="dropdown-content">
          <a href="/settings.html">Settings</a>
          <a href="/shop.html">Shop</a>
          <a href="/signup.html">Logout</a>
        </div>
      </div>
    </header>

    <div class="main-content">
        <h1>Shop</h1>
    </div>
    <!-- Footer -->
    <footer>
      <h1 id="motivational-quote">Your Life in a Glance</h1>
    </footer>

    <script src="../js/settings.js"></script>
  </body>
